@use '../variables'

.Cases__Tittle
    margin: 80px 0px
    h1
        max-width: 536px
        height: auto
        min-height: 144px
        font-size: 36px
        font-weight: 700
        line-height: 64px
        letter-spacing: -0.54px
        color: variables.$color-cases-tittle
    p
        color: variables.$color-cases-text
        font-size: 18px
        font-weight: 400
        line-height: 30px
        letter-spacing: -0.27px
    span
        text-decoration: line-through

