@use '../variables'

.Contact
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 80px 10%
    min-padding: 80px 30px
    max-padding: 80px 100px
    gap: 32px
    position: relative

.Contact__Decorator
    width: 50%
    height: 50%
    border-radius: 50%
    background: variables.$color-primary
    z-index: -1
    position: absolute
    bottom: 0
    left: 0
    filter: blur(100px)
    z-index: -2

    padding: 0 10%
    min-padding: 0 30px
    max-padding: 0 100px

.Contact__Tittle
    color: variables.$second-tittle-color
    font-size: variables.$second-tittle-size
    font-weight: variables.$second-tittle-weight
    line-height: variables.$second-tittle-line-height
    letter-spacing: variables.$second-tittle-letter-spacing
    text-align: center
    
.Contact__Form
    width: 45%
    min-width: 330px
    max-width: 420px
    height: auto

    display: flex
    flex-direction: column
    align-items: center

    gap: 16px
    padding: 32px
    box-sizing: border-box

    
    background: variables.$color-contact-form-bg
    box-shadow: variables.$box-shadow
    border-radius: 8px

input, textarea, select, option
        all: unset
        display: inline-block

.Contact__Input, .Contact__Input--Big, .Contact__Select
    width: 100%

    padding: 12px 16px
    box-sizing: border-box

    font-size: 16px
    line-height: 150%

    border-radius: 4px
    border: 1px solid variables.$color-contact-input-border
    color: variables.$color-contact-input
    background: variables.$color-contact-input-bg

    &::placeholder 
        opacity: 100%
        color: variables.$color-contact-input

.Contact__Input--Big
    min-height: 188px

.Contact__Select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    background: variables.$color-contact-input-bg url('../icons/Expand_More.svg') 95.5% 50% no-repeat
    transition: background-position 0.4s ease-in-out

.Contact__Select_Icon
    position: absolute
    top: 50%
    right: 16px
    z-index: 2


.Contact__Select:focus
    background: variables.$color-contact-input-bg url('../icons/Expand_More.svg') 95.5% 50% no-repeat rotate(180deg)

        
.Contact__Input:focus,
.Contact__Input--Big:focus,
.Contact__Select:focus
    border: 1px solid variables.$color-primary--dark

.Contact__Checklist
    display: flex
    align-items: flex-start
    gap: 16px

#Contact__Checkbox
    width: 20px
    height: 20px
    flex-shrink: 0
    border-radius: 4px
    border: 1px solid variables.$color-gray-2
    background: variables.$color-gray-3
    
#Contact__Checkbox:checked 
    border-color: variables.$color-primary--dark
    background-color: variables.$color-primary--dark
    background-position: center
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='4' fill='none'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2557 6.15495L9.05232 14.4665L4.29291 9.70713L5.70712 8.29292L8.94771 11.5335L14.7443 4.84509L16.2557 6.15495Z' fill='white'/%3E%3C/svg%3E ")

.Contact__Checklist__text
    font-size: 14px
    line-height: 150%

.Contact__Button
    width: 100%
    height: auto
    font-size: 14px
    font-weight: 500
    letter-spacing: 1.4px
    white-space: nowrap
    text-transform: uppercase
    color: variables.$color-text-button
    background: variables.$color-normal-button-bg
    padding: 12px 32px
    box-sizing: border-box
    border: none
    border-radius: 4px
    cursor: pointer
    &:hover
        background: variables.$color-hover-button-bg