@use '../variables'

.Footer_Section
    padding: 80px 100px
    display: flex
    flex-direction: column
    align-items: center
    gap: 62px
    background: variables.$color-bright
    @media( max-width: 740px)
        padding: 80px 30px

.Footer
    display: flex
    align-items: flex-start
    justify-content: space-between
    width: 100%
    gap: 64px
    @media ( max-width: 740px )
        flex-direction: column
        align-items: center
        
.Footer__Logo
    font-family: variables.$font-logo
    width: 63px
    font-weight: 800
    color: variables.$color-dark-gray
    font-size: 24px

.Footer__Credits
    display: flex
    gap: 32px
    @media ( max-width: 740px )
        flex-direction: column
        align-items: center

.Footer__Credits__Column
    display: flex
    flex-direction: column
    width: 200px
    @media ( max-width: 740px )
        align-items: center

.Footer__Credits__Column__Title
    color: variables.$color-dark
    font-size: 16px
    font-weight: 700
    line-height: 24px
    letter-spacing: 0.24px
    margin-bottom: 16px

.Footer__Credits__Column__Links
    color: variables.$color-dark-gray
    font-size: 16px
    line-height: 24px
    letter-spacing: -0.24px
    margin-bottom: 4px
    cursor: pointer
    text-decoration: none
    display: block
    position: relative

.Footer__Credits__Column__Links 
  display: inline-block


.Footer__Credits__Column__Links::after 
  content: ''
  width: 0px
  height: 1px
  display: block
  background: black
  transition: 300ms


.Footer__Credits__Column__Links:hover::after 
  width: 100%


.Footer_Section__Line
    width: 100%
    height: 2px
    background: variables.$color-primary

.Footer_Section__Signature
    color: variables.$color-dark-gray
    font-family: variables.$font-second
    text-align: center
    font-size: 15px
    font-weight: 400
    line-height: 24px
    letter-spacing: -0.225px