@use '../variables'

.Header
    display: flex
    align-items: center
    justify-content: space-between
    
.Header__logo
    max-width: 63px
    height: 46px
    font-size: 24px
    font-weight: 800
    line-height: 23px

a
    font-family: variables.$font-text
    font-weight: 500

.Header__menu
    display: flex
    gap: 35px
    align-items: center