.Hero_Section
    padding: 40px 10%
    min-padding: 40px 30px
    max-padding: 40px 109px 40px 100px
    background: red

.Hero
    display: flex
    flex-direction: column
    align-content: center
    justify-items: center
    gap:16px

.Hero__Tittle
    max-width: 630px
    font-family: Roboto
    font-size: 56px
    font-weight: 700
    line-height: 72px
    letter-spacing: -0.84px

.Hero__Tittle--Italic
    font-family: "Bodoni"
    ont-family: Bodoni 72
    font-size: 73px
    font-style: italic
    font-weight: 400
    line-height: 72px
    letter-spacing: -1.095px


.Hero__Subtittle
    font-size: 18px
    font-style: normal
    font-weight: 500
    line-height: 30px
    letter-spacing: -0.27px