@use '../variables.sass'

.Video_Section
    min-width: 390px
    display: grid
    align-items: center
    grid-template-columns: 1fr 1fr
    padding: 80px 100px
    box-sizing: border-box
    gap: 32px
    background: variables.$color-video-section-bg
    @media( max-width: 740px)
        grid-template-columns: 1fr
        padding: 80px 30px

.Video_Text_Space
    gap: 16px

.Video__Title
    color: variables.$color-video-title
    font-size: 36px
    font-style: normal
    font-weight: 700
    line-height: 64px
    letter-spacing: -0.54px

.Video__Text
    color: variables.$color-video-text
    font-size: 18px
    font-weight: 400
    line-height: 30px
    letter-spacing: -0.27px

.Video
    width: 100%
    min-height: auto
    aspect-ratio: 16/9
    overflow: hidden