$font-primary: 'Roboto', sans-serif
$font-second: 'Montserrat', sans-serif
$font-tertiary: 'Inter', sans-serif

$font-logo: $font-primary
$font-text: $font-second
$font-Chat: $font-tertiary

     
$color-dark: #000
$color-dark-gray: #343434
$color-gray: #f8f8f8
$color-gray-2: #C4C4C4
$color-gray-3: #E5E5E5
$color-light-gray: #EFEFEF
$color-bright: #fff
$color-primary: #5DFED6
$color-primary--dark: #45E6BF

$primary-title-size: 64px
$primary-title-color: $color-bright
$primary-font-weight: 700
$primary-line-height: 72px
$primary-letter-spacing: -0.96px

$second-title-color: $color-dark
$second-title-size: 36px
$second-title-weight: 700
$second-title-line-height: 64px
$second-title-letter-spacing: -0.54px

$color-text-button: $color-dark-gray
$color-normal-button-bg: $color-primary
$color-hover-button-bg: $color-primary--dark
$color-hero-text: white
$color-cases-title: $color-dark
$color-cases-text:#333
$color-case-border-button: #c4c4c4
$color-case-border-hover-button: $color-dark-gray
$color-video-text:#323232
$color-video-title: $color-dark
$color-video-section-bg: $color-gray
$color-contact-input: $color-dark-gray
$color-contact-form-bg: rgba(255, 255, 255, 0.80)
$color-contact-input-bg: rgba(255, 255, 255, 0.25)
$color-contact-input-border: #e5e5e5

$box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10)