$font-logo: "Montserrat"
$font-italic: "Bodoni Moda"
$font-text: "Roboto"
$color-dark-tittle: #000
$color-dark-gray: #343434
$color-text-button: $color-dark-gray
$color-normal-button-bg: #5DFED6
$color-hover-button-bg: #45E6BF
$color-hero-text: white
$color-cases-tittle: $color-dark-tittle
$color-cases-text:#333
$color-case-border-button: #c4c4c4
$color-case-border-hover-button: $color-dark-gray
$color-video-text:#323232
$color-video-tittle: $color-dark-tittle
